
@charset "UTF-8";
/* 폰트 설정, 문장에는 돋움을 기본으로 하고 소제목은 buri를 사용한다. */
  @font-face {
    font-family:"buri"; src:url(../fonts/Arita-buriM-subset.woff);font-style:normal;font-weight:400;
  }
   @font-face {
    font-family:"buri-h"; src:url(../fonts/Arita-buriHL.woff);font-style:normal;font-weight:400;
  }
  @font-face{
    font-family:"dotum"; src:url(../fonts/Arita-dotum-Medium.woff);font-style:normal;font-weight:400;
  }
  @font-face{
    font-family:"nanum"; src:url(../fonts/NanumBarunGothicUltraLight.woff);font-style:normal;font-weight:300;
  }
 

/*스타일은 필요한 것만 적는다. 페이지를 간단간단하게 제작할 계획이므로 스타일 쉬트도 여러장 나눌 계획이다.*/

/*main 부분  p 16, h6 18 h5 20 h4 22 h3 24 h2 26 h1 28 */
body{
font-family:"";
}
main {
font-family:"";
}
main p{
 font-family:"";
}
main h1 {
  font-family:"buri";
  }
  nav{
    margin: 1vw;
  }
  a{
    margin: 0.5vw;
    color:darkblue;
  }
  a:hover{
    color: red;
  }
  footer{
    margin:1vw;
  }
  li{
    font-family:"";

  }
